@use "../utils" as *;

html {
  font-size: 100%;
  font-family: $lato;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  //outline: 1px solid blue;
}

body {
  max-width: 1240px;
  margin: auto;
  padding: 0;
}

//.hidden {
//  display: none;
//}

.bg_blue {
  background-color: $blue;
}

.bg_green {
  background-color: $green;
}

.bg_red {
  background-color: $red;
}


.hidden {
  display: none;
}
