@use '../utils' as *;

.btn {
  color: white;
  border: none;
  width: 170px;
  height: 69px;
  font-size: 18px;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 2rem 0 0;
  border-radius: 5px;
}

.btn_black {
  background-color: black;
}

.btn_blue {
  background-color: $blue;
}

.btn_green {
  background-color: $green;
}

.btn_red {
  background-color: $red;
}

i.fas.fa-chevron-down {
  font-family: $fa
}

